html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
}

.login-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .6);
}

.login-frame h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-frame .user-frame {
    position: relative;
}

.login-frame .user-frame input {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    color: #ffff;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-frame .user-frame label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 15px;
    color: #fff;
    pointer-events: none;
    transition: 1s;
}

.login-frame .user-frame input:focus~label,
.login-frame .user-frame input:valid~label {
    top: 25px;
    left: 0;
    color: aqua;
    font-size: 14px;
}

.login-frame form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: aqua;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    margin-top: 40px;
    letter-spacing: 3px;
}

.login-frame a:hover {
    background: black;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4, 0 0 20px #03e9f4;
}

.login-frame span {
    position: absolute;
    display: block;
}

.login-frame a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 is linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.login-frame a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim1 is linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.login-frame a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 is linear infinite;
    animation-delay: .5s;
}